.app-tours-list-container {

  overflow: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  app-tours-list-item {
    display: block;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    margin: 15px auto 15px auto;
  }

}


