<div class="tour-image-container" *ngIf="tour && tour.images">
  <ui-carousel [autoPlay]="false" [infinite]="false" [fade]="false" [speed]="200" >
    <ui-carousel-item *ngFor="let image of tour.images">
      <img [ui-lazy-load]="image.url">
    </ui-carousel-item>
  </ui-carousel>
</div>

<div class="tour-info-section">
  <app-tour-info *ngIf="tour" [tourMeta]="tour.meta"></app-tour-info>
</div>
<app-divider></app-divider>
<div *ngIf="tour" class="tour-description">
  <p>{{ tour.description }}</p>
</div>
<app-divider></app-divider>
<app-tour-points-list *ngIf="tourPoints" [checkins]="activity && activity.checkins" [tourPoints]="tourPoints" [tour]="tour"></app-tour-points-list>
<div class="start-button-container">
  <a *ngIf="activity" (click)="activityCheckin()" class="waves-effect waves-light btn primary-background"><i class="material-icons left">add_location</i>Checkin</a>
  <a *ngIf="!activity" (click)="startTour()" class="waves-effect waves-light btn primary-background"><i class="material-icons left">cloud</i>Start tour</a>
</div>

