<article class="list-item-container">
  <div class="cover-image-container">
    <img src="{{ tour.coverImageUrl }}"/>
  </div>
  <div class="info-container">
    <div>{{ tour.name }}</div>
    <div class="description-item"> {{ tour.description }} </div>

    <app-tour-info [tourMeta]="tour.meta"></app-tour-info>

  </div>

  <div (click)="joinButtonClick(tour)" class="join-button waves-effect waves-light">
    <span class="text">
      Join!
    </span>
  </div>
</article>
