@import "../../../../tours-theme";

.list-item-container {
  display: flex;
  flex-direction: column;
  height: 100%;


  .cover-image-container {
    flex-grow: 15;
    flex-shrink: 5;
    position: relative;
    min-height: 200px;

    img {
      max-height: 100%;
      overflow: hidden;
      max-width: 100%;
      position: absolute;
    }
  }

  .join-button {
    @extend .primary-background;
    $join-button-height: 40px;

    height: $join-button-height;
    text-align: center;

    .text {
      line-height: $join-button-height;
      font-size: 16px;
    }
  }

}
