<div class="back-button-container">
  <a (click)="backToTour()" class="waves-effect waves-teal btn-flat">
    <i class="material-icons left">arrow_back</i>
    back
  </a>
</div>
<div *ngIf="point && point.images">
  <ui-carousel [autoPlay]="false" [infinite]="false" [fade]="false" [speed]="200" >
    <ui-carousel-item *ngFor="let image of point.images">
      <img [ui-lazy-load]="image.url">
    </ui-carousel-item>
  </ui-carousel>
</div>

<app-divider></app-divider>
<div *ngIf="point" class="tour-description">
  <p>{{point.description}}</p>
</div>
<app-divider></app-divider>
