$item-line-height: 24px;


.description-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-item {
  display: inline-flex;
  width: 49%;
}

.icon {
  margin-right: 10px;
  font-size: 24px;
  line-height: $item-line-height;
}

.label {
  line-height: $item-line-height;
}

