<div class="info-item">
  <i class="material-icons icon">alarm</i>
  <span class="label">{{tourMeta.time}} hours</span>
</div>

<div class="info-item">
  <i class="material-icons icon">group</i>
  <span class="label">{{tourMeta.people}} people</span>
</div>

<div class="info-item">
  <i class="material-icons icon">directions_run</i>
  <span class="label">{{tourMeta.distance}} km</span>
</div>

<div class="info-item">
  <i class="material-icons icon">check_circle</i>
  <span class="label">{{tourMeta.points}} checkpoints</span>
</div>
