<nav>
  <ul>
    <li>
      <div class="user-container">
        <div class="user-portrait">
          <img src="{{user.profilePicture}}" class="circle"/>
        </div>
        <div class="user-info">
          <div class="name">{{user.name}}</div>
          <div class="email">{{user.email}}</div>
        </div>
      </div>
    </li>
    <li class="nav-menu-item waves-effect">
      <a routerLink="/signin" >Sign in</a>
    </li>
    <li class="nav-menu-item waves-effect">
      <a routerLink="/available-tours">Tours around</a>
    </li>
    <li class="nav-menu-item waves-effect">
      <a routerLink="/activity">My active tour</a>
    </li>
  </ul>
  <app-divider></app-divider>
  <app-left-nav-activity-widget *ngIf="activity" [tourActivity]="activity"></app-left-nav-activity-widget>
</nav>

