@import '../../../tours-theme';

$text-color: black;

li {
  width: 100%;
}

.user-container {
  @extend .primary-background;
  height: 100px;
  overflow: hidden;
  display: flex;

  .user-portrait {
    height: 100%;
    display: inline-block;
    padding: 5px;
    img {
      height: 100%;
    }
  }

  .user-info {
    flex-grow: 1;
    text-align: center;
    .name {

    }

    .email {

    }
  }
}

nav {
  .nav-menu-item {
    @extend .white-background;

    a {
      font-size: 16px;
      padding-left: 30px;
      color: $text-color;
    }
  }

  ul {

    li.divider {
    }

  }
}

app-left-nav-activity-widget {
  $widget-height: 120px;
  position: fixed;
  bottom: $widget-height;
  height: $widget-height;
  display: block;
  width: 100%;
}
