<header class="tours-header primary-background">
  <div class="header-container">
    <div class="burger-container">
      <a (click)="openLeftNav()" data-target="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    <div class="logo-container">
      <span class="logo-text">Tours</span>
    </div>
  </div>
</header>
