@import "../../../tours-theme";

.tours-header {
  .header-container {
    display: flex;

    .burger-container {

      flex-grow: 1;

      a {
        color: $background-text-color;
        display: block;
        text-align: center;

        i {
          font-size: 28px;
        }
      }
    }

    .logo-container {
      flex-grow: 9;
      text-align: center;

      .logo-text {
        font-size: 28px;
      }
    }

  }

}
