$border: 1px solid darkgrey;
$point-item-height: 40px;
$active-point-background: #FFCC80;

.points-container {
  width: 80%;
  border:  $border;
  border-radius: 3px;
  margin: auto;

  .point {
    display: flex;
    border-bottom: $border;
    height: $point-item-height;

    .checkbox-container {
      flex-grow: 2;
      text-align: center;

      i {
        line-height: $point-item-height;
      }

    }

    .point-name-container {
      flex-grow: 8;

      span {
        line-height: $point-item-height;
      }
    }
  }

  .point.checked + .point {
    background-color: $active-point-background;
  }

  .point:last-of-type {
    border: none;
  }

}
