<ul class="points-container">
  <li *ngFor='let point of tourPoints' class="point" [ngClass]="{'checked': point.checkTime}">
    <div class="checkbox-container">
      <i *ngIf='point.checkin' class="material-icons">radio_button_checked</i>
      <i *ngIf='!point.checkin' class="material-icons">radio_button_unchecked</i>
    </div>
    <div (click)="goToPoint(point)" class="point-name-container">
      <span>{{point.name}}</span>
    </div>
  </li>
</ul>
