@import "~materialize-css/sass/materialize";

$primary-color: #004d40;
$background-text-color: white;

.primary-background {
  @extend .red, .darken-2;
  color: $background-text-color;
}

.white-background {
  background-color: white;
  color: black;
}
