.wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  cursor: pointer;

  .facebook-signin {
    background-image: url("/assets/images/facebook-signin.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 300px;
  }

}

