<div class="activity-container" *ngIf="tourActivity">
  <div class="info-block">
    <span>Tour name:</span>
    <span>{{ tourActivity.tourId }}</span>
  </div>
  <div class="info-block">
    <span>Points passed:</span>
    <span> {{ pointsPassed }} </span>
  </div>
  <div class="checkin-button-container">
    <a (click)="activityCheckin()" class="waves-effect waves-light btn primary-background"><i class="material-icons left">add_location</i>Checkin</a>
  </div>
</div>
